.ant-tabs-tab-active{
    background-color: #1677FF !important;
    span{
        color: white;
    }
    .anticon-close{
        color: wheat;
    }
}

.tab-label{
    display: flex;
    align-items: center;
    gap: 8px;
}